# AI PART
torch==2.6.0        # DL Framework
torchvision==0.21.0 # DL Image Library
numpy==2.2.5        # Scientific Computing Library
pandas==2.2.3       # Data Manipulation Library
scikit-learn==1.6.1 # Machine Learning Library
matplotlib==3.10.1  # Data Visualization Library
seaborn==0.13.2     # Data Visualization Library

# DATA PIPELINE PART
pyarrow==19.0.1       # Parquet for Spark, DuckDB
polars==1.32.3
h5py==3.13.0          # HDF5
duckdb==1.2.2         # SQL for Analytics
pyspark==3.5.5        # Spark Python API
findspark==2.0.1      # Local SparkSession
apache-airflow==2.3.2 # Airflow core

# WEB PART
fastapi==0.95.1         # FastAPI Framework
fastapi-jwt-auth==0.5.0 # JWT Authentication
httpx==0.28.1           # HTTP Client
requests==2.31.0        # HTTP Requests
python-dotenv==1.0.1    # Environment Variables
uvicorn==0.22.0         # ASGI Server
gunicorn==23.0.0        # WSGI Server
httptools==0.6.4        # HTTP Server
pydantic==1.10.12       # Data Validation
python-multipart==0.0.9 # Multipart/Form-Data

# INFRA SIDE PART
motor==3.7.0
hiredis==3.1.0
redis==5.2.1
aioboto3==14.1.0